<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MengyanLi-Lab3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFA7A9F31D9B7C1A00E35966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA7AA0A1D9B7C1B00E35966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA7AA151D9B7C1B00E35966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
